---
interface Props {
    title: string;
    icon: string;     
    image: string;
    variant?: 'dark' | 'light' | 'accent';
    class?: string;
}

const { title, icon, image, variant = 'light', class: className } = Astro.props;

const styles = {
    dark: "bg-blue-950 hover:bg-blue-900 border-transparent",
    light: "bg-white border-gray-100 hover:border-blue-200",
    accent: "bg-cyan-500 border-transparent hover:bg-cyan-600"
};

---

<div class={`group relative block overflow-hidden rounded-4xl shadow-md hover:shadow-2xl hover:shadow-blue-900/20 transition-all duration-500 hover:-translate-y-1 border ${styles[variant]} ${className}`}>
    
    <div class="absolute inset-0 w-full h-full">
        <img 
            src={image} 
            alt={title} 
            class="w-full h-full object-cover transition-transform duration-700 ease-out group-hover:scale-110"
            loading="lazy"
        />
    </div>

    <div class="absolute inset-0 bg-linear-to-t from-blue-950/90 via-blue-950/40 to-transparent opacity-90 group-hover:opacity-80 transition-opacity duration-300"></div>
    <div class="absolute inset-0 bg-blue-950/30 opacity-0 group-hover:opacity-100 transition-opacity duration-300 mix-blend-overlay"></div>

    <div class="absolute -right-4 -bottom-4 w-32 h-32 opacity-[0.1] group-hover:opacity-[0.2] transition-opacity duration-500 rotate-[-15deg] pointer-events-none scale-[2.5]">
        <img loading="lazy" src={icon} alt="" class="w-full h-full object-contain invert brightness-0" /> 
        </div>

    <div class="relative h-full flex flex-col justify-between p-6 z-10">
        
        <div class="w-12 h-12 p-2 rounded-xl bg-white/10 backdrop-blur-md border border-white/20 transition-transform duration-300 group-hover:scale-110 group-hover:text-white group-hover:bg-blue-950">
            <img 
                loading="lazy"
                src={icon} 
                alt={`Icono de ${title}`} 
                class="w-full h-full object-contain drop-shadow-sm" 
            />
        </div>

        <div class="flex items-end justify-between gap-2">
            <h3 class="text-xl md:text-2xl font-bold font-[PlayfairDisplay] text-white leading-tight drop-shadow-md">
                {title}
            </h3>
        </div>
    </div>
</div>